html, body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
}
.App {
    height: 100%;
}

.App > div {
    height: 100%;
}

#content-container {
    display: flex; /*So the map doesnt dissapear after width<769px*/
}